In [38]:
import pandas as pd
import numpy as np

In [39]:
data = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv', 
names=["surgery?", "Age", "Hospital Number", "rectal temperature", "pulse", "respiratory rate", "temperature of extremities", 
"peripheral pulse", "mucous membranes", "capillary refill time", "pain", "peristalsis", "abdominal distension", "nasogastric tube",
"nasogastric reflux", "nasogastric reflux PH", "rectal examination", "abdomen", "packed cell volume", "total protein", "abdominocentesis appearance",
"abdomcentesis total protein", "outcome", "surgical lesion?", "type of lesion1", "type of lesion2", "type of lesion3", "cp_data"])

In [40]:
data = data[["surgery?", "Age", "rectal temperature", "pulse", "respiratory rate", "temperature of extremities", "pain", "outcome"]]
data.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2,1,38.50,66,28,3,5,2
1,1,1,39.2,88,20,?,3,3
2,2,1,38.30,40,24,1,3,1
3,1,9,39.10,164,84,4,2,2
4,2,1,37.30,104,35,?,?,2

In [41]:
data2 = data.replace('?', np.NaN)

In [42]:
data2

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2,1,38.50,66,28,3,5,2
1,1,1,39.2,88,20,NaN,3,3
2,2,1,38.30,40,24,1,3,1
3,1,9,39.10,164,84,4,2,2
4,2,1,37.30,104,35,NaN,NaN,2
...,...,...,...,...,...,...,...,...
295,1,1,NaN,120,70,4,2,3
296,2,1,37.20,72,24,3,4,3
297,1,1,37.50,72,30,4,4,2
298,1,1,36.50,100,24,3,3,1
299,1,1,37.2,40,20,NaN,NaN,3

In [43]:
data3 = data2.apply(pd.to_numeric)

In [44]:
data3

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [45]:
data3.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [46]:
data3['Age'].mode()[0]

1

In [47]:
data3['surgery?'].mode()[0]

1.0

In [48]:
data3['rectal temperature'].mode()[0]

38.0

In [49]:
data3['pulse'].mode()[0]

48.0

In [50]:
data3['respiratory rate'].mode()[0]

20.0

In [51]:
data3['temperature of extremities'].mode()[0]

3.0

In [52]:
data3['pain'].mode()[0]

3.0

In [53]:
data3['outcome'].mode()[0]

1.0

In [54]:
data3['pain'].fillna(data3.groupby('outcome')['pain'].transform('median'), inplace = True)

In [55]:
data3

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,4.0,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,3.0,3.0

In [56]:
data3['temperature of extremities'].fillna(data3.groupby('outcome')['temperature of extremities'].transform('median'), inplace = True)

In [57]:
data3['respiratory rate'].fillna(data3.groupby('outcome')['respiratory rate'].transform('median'), inplace = True)

In [58]:
data3['pulse'].fillna(data3.groupby('outcome')['pulse'].transform('median'), inplace = True)

In [59]:
data3['rectal temperature'].fillna(data3.groupby('outcome')['rectal temperature'].transform('median'), inplace = True)

In [60]:
data3['surgery?'].fillna(data3.groupby('outcome')['surgery?'].transform('median'), inplace = True)

In [61]:
data3['outcome'].fillna(data3.groupby(['pain', 'temperature of extremities'])['outcome'].transform('median'), inplace = True)

In [62]:
data4 = data3.dropna()

In [63]:
data4.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,299.00000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,1.397993,1.64214,38.161873,71.826087,29.588629,2.361204,2.996656,1.551839
std,0.490305,2.17730,0.656410,27.840688,16.001930,0.967578,1.199828,0.737187
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.900000,48.500000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.100000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,34.500000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [64]:
q1 = data4["Age"].quantile(0.25)
q3 = data4["Age"].quantile(0.75)
iqr = q3-q1
lower_bound = q1 - (1.5 + iqr)
upper_bound = q3 + (1.5 + iqr)
remove_outliers = data4[data4["Age"].between(lower_bound, upper_bound, inclusive=True)]
data4.append(remove_outliers, ignore_index=True).drop_duplicates(keep=False).head() #выбросы не удаляем, в рамках нормы

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,9,38.3,90.0,24.0,1.0,5.0,1.0
13,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,9,38.1,128.0,36.0,3.0,4.0,2.0
23,1.0,9,38.3,130.0,60.0,2.0,2.0,1.0

In [65]:
q1 = data4["rectal temperature"].quantile(0.25)
q3 = data4["rectal temperature"].quantile(0.75)
iqr = q3-q1
lower_bound = q1 - (1.5 + iqr)
upper_bound = q3 + (1.5 + iqr)
remove_outliers = data4[data4["rectal temperature"].between(lower_bound, upper_bound, inclusive=True)]
data4.append(remove_outliers, ignore_index=True).drop_duplicates(keep=False)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
44,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
258,1.0,1,40.8,72.0,42.0,3.0,2.0,2.0

In [75]:
q1 = remove_outliers["pulse"].quantile(0.25)
q3 = remove_outliers["pulse"].quantile(0.75)
iqr = q3-q1
lower_bound = q1 - (1.5 + iqr)
upper_bound = q3 + (1.5 + iqr)
remove_outliers1 = remove_outliers[remove_outliers["pulse"].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers.append(remove_outliers1, ignore_index=True).drop_duplicates(keep=False)#выбросы не удаляем, в рамках нормы

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
23,1.0,9,38.3,130.0,60.0,2.0,2.0,1.0
39,1.0,9,39.2,146.0,96.0,3.0,4.0,2.0
41,2.0,9,39.0,150.0,72.0,2.0,3.0,1.0
54,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
62,2.0,1,38.2,130.0,16.0,4.0,2.0,3.0
102,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
133,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
146,1.0,1,38.3,132.0,24.0,2.0,2.0,1.0
253,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
272,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0

In [76]:
q1 = remove_outliers["respiratory rate"].quantile(0.25)
q3 = remove_outliers["respiratory rate"].quantile(0.75)
iqr = q3-q1
lower_bound = q1 - (1.5 + iqr)
upper_bound = q3 + (1.5 + iqr)
remove_outliers1 = remove_outliers[remove_outliers["respiratory rate"].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers.append(remove_outliers1, ignore_index=True).drop_duplicates(keep=False)#выбросы не удаляем, в рамках нормы

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.10,164.0,84.0,4.0,2.0,2.0
11,2.0,1,39.10,72.0,52.0,2.0,2.0,1.0
20,1.0,1,39.90,72.0,60.0,1.0,5.0,1.0
23,1.0,9,38.30,130.0,60.0,2.0,2.0,1.0
39,1.0,9,39.20,146.0,96.0,3.0,4.0,2.0
41,2.0,9,39.00,150.0,72.0,2.0,3.0,1.0
81,1.0,9,38.10,100.0,80.0,3.0,3.0,1.0
83,1.0,1,37.80,60.0,80.0,1.0,2.0,1.0
98,2.0,1,39.60,108.0,51.0,3.0,2.0,1.0
102,1.0,9,38.00,140.0,68.0,1.0,3.0,1.0
105,1.0,1,38.30,52.0,96.0,2.0,3.0,1.0
119,1.0,1,39.40,54.0,66.0,1.0,2.0,1.0
124,1.0,1,38.00,42.0,68.0,4.0,3.0,1.0
183,1.0,1,38.50,120.0,60.0,4.0,3.0,1.0
206,1.0,1,37.80,88.0,80.0,3.0,3.0,3.0
218,1.0,1,39.20,88.0,58.0,4.0,5.0,3.0
227,1.0,9,38.50,120.0,70.0,2.0,3.0,1.0
242,1.0,9,38.20,124.0,88.0,1.0,2.0,1.0
246,1.0,1,38.00,108.0,60.0,2.0,4.0,1.0
248,1.0,1,39.30,100.0,51.0,4.0,2.0,3.0
253,1.0,9,38.80,184.0,84.0,1.0,4.0,2.0
262,2.0,1,38.05,56.0,68.0,3.0,3.0,3.0
267,1.0,1,37.50,60.0,50.0,3.0,3.0,2.0
272,1.0,9,38.80,150.0,50.0,1.0,5.0,2.0
292,1.0,1,38.05,120.0,70.0,4.0,2.0,3.0

In [77]:
remove_outliers.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,1.400673,1.646465,38.162290,71.595960,29.565657,2.356902,2.996633,1.545455
std,0.490862,2.184001,0.620082,27.651152,16.036379,0.969411,1.201065,0.734379
min,1.000000,1.000000,36.000000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.900000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.100000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,34.000000,3.000000,4.000000,2.000000
max,2.000000,9.000000,40.300000,184.000000,96.000000,4.000000,5.000000,3.000000